<div class="row">

  <div class="text-center" style="margin-top: 12px; margin-bottom: 12px;">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-danger btn-lg active">
        <input type="radio" name="step" id="step1" autocomplete="off"> Find Your Car
      </label>
      <label class="btn btn-default btn-lg">
        <input type="radio" name="step" id="step2" autocomplete="off"> Car Features
      </label>
      <label class="btn btn-default btn-lg">
        <input type="radio" name="step" id="step3" autocomplete="off"> Car Details
      </label>
      <label class="btn btn-default btn-lg">
        <input type="radio" name="step" id="step4" autocomplete="off"> Driver Details
      </label>
    </div>
  </div>
  <br>

  <div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    <span class="sr-only">Info:</span>
    <span>By getting a quote you agree that the right <a>PDS</a> is being made available to you by this website, agree with our <a>Online Terms & Privacy Statement</a> and that you have read and understood your <a>Duty of Disclosure</a>.
      Its important that you answer all our questions accurately.</span>
  </div>

  <form name="findCarForm" class="form-horizontal" role="form" novalidate ng-submit="submit(findCarForm)" accessible-form>

    <div>
      <h4>Select your type of car insurance</h4>
      <div class="form-group has-feedback" ng-class="{ 'has-error' : findCarForm.productType.$invalid && findCarForm.$dirty }">
        <div class="radio col-sm-4">
          <label>
            <input id="productType1" name="productType" type="radio" value="COMPREHENSIVE" ng-model="productType" required>Comprehensive
          </label>
        </div>
        <div class="radio col-sm-4">
          <label>
            <input id="productType12" name="productType" type="radio" value="THIRD_PARTY" ng-model="productType" required>Third Party Property Damage
          </label>
        </div>
      </div>
      <div id="product-type-error" class="alert alert-danger" ng-show="findCarForm.productType.$invalid && findCarForm.$dirty">Please select one insurance type above.</div>
    </div>
    <hr>

    <div>
      <h4>Policy start date</h4>
      <p>
        To give you the most accurate price tell us the date you want your cover to start. Your policy start date must be before 6th August 2015.
      </p>

      <div class="form-group has-feedback" ng-class="{ 'has-error' : findCarForm.policyStartDate.$invalid && findCarForm.policyStartDate.$dirty}">
        <div class="col-sm-4">
          <input id="policyStartDatePicker" name="policyStartDate" type="text" value="" class="form-control" placeholder="DD/MM/YYYY" style="width: auto" ui-date="dateOptions" ng-model="policyStartDate" required>
        </div>
      </div>
      <div id="policy-start-date-error" class="alert alert-danger" ng-show="findCarForm.policyStartDate.$invalid && findCarForm.policyStartDate.$dirty">Please select a policy start date from the calendar.</div>
    </div>
    <hr>

    <div>
      <h3>Find your car using the search below</h3>

      <div class="form-group" ng-class="{ 'has-error' : findCarForm.vehicleYearOfManufacture.$invalid && findCarForm.vehicleYearOfManufacture.$touched}">
        <label class="col-sm-4 control-label" for="vehicleYearOfManufacture">Year of manufacture</label>
        <div class="col-sm-8">
          <select name="vehicleYearOfManufacture" class="form-control" ng-model="vehicleYearOfManufacture" ng-options="year.label for year in yearsOfManufacture" required>
            <option value="">Select</option>
          </select>
        </div>
      </div>
      <div id="manufacture-year-error" class="alert alert-danger text-center" ng-show="findCarForm.vehicleYearOfManufacture.$invalid && findCarForm.vehicleYearOfManufacture.$touched">Please select the year of manufacture.</div>

      <div class="form-group" ng-class="{ 'has-error' : findCarForm.vehicleMake.$invalid && findCarForm.vehicleMake.$touched}">
        <label class="col-sm-4 control-label" for="vehicleMake">Car make</label>
        <div class="col-sm-8">
          <select name="vehicleMake" class="form-control" ng-model="vehicleMake" ng-disabled="!vehicleYearOfManufacture" required>
            <option value="">Select</option>
            <optgroup label="Common Makes">
              <option ng-repeat="manufacturer in manufacturers | filter: {isCommon: true}" value="{{manufacturer.name | uppercase}}">{{manufacturer.name}}</option>
            </optgroup>
            <optgroup label="All Makes">
              <option ng-repeat="manufacturer in manufacturers" value="{{manufacturer.name | uppercase}}">{{manufacturer.name}}</option>
            </optgroup>
          </select>
        </div>
      </div>
      <div id="car-make-error" class="alert alert-danger text-center" ng-show="findCarForm.vehicleMake.$invalid && findCarForm.vehicleMake.$touched">Please select the car make.</div>

      <div class="form-group">
        <label class="col-sm-4 control-label" for="vehicleModel">Car model</label>
        <div class="col-sm-8">
          <select name="vehicleModel" class="form-control" ng-model="vehicleModel" ng-options="model.name for model in models | filter: {manufacturer: vehicleMake}" ng-disabled="!vehicleMake">
            <option value="">Select</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label" for="vehicleTransmissionType">Transmission type</label>
        <div class="col-sm-8">
          <select name="vehicleTransmissionType" class="form-control" ng-model="vehicleTransmissionType" ng-options="transmissionType for transmissionType in vehicleModel.transmissionTypes" ng-disabled="!vehicleModel">
            <option value="">Select</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label" for="vehicleNumberOfCylinders">Number of cylinders</label>
        <div class="col-sm-8">
          <select name="vehicleNumberOfCylinders" class="form-control" ng-disabled="!vehicleTransmissionType"></select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label" for="vehicleBodyType">Body type</label>
        <div class="col-sm-8">
          <select name="vehicleBodyType" class="form-control" ng-model="vehicleBodyType" ng-options="bodyType for bodyType in vehicleModel.bodyTypes[vehicleTransmissionType]" ng-disabled="!vehicleTransmissionType">
            <option value="">Select</option>
          </select>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-danger btn-lg">Find your car</button>
    </div>

  </form>

  <br>
  <br>

</div>
