<div class="row">

  <div class="text-center" style="margin-top: 12px; margin-bottom: 12px;">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-danger btn-lg active">
        <input type="radio" name="step" id="step1" autocomplete="off"> Find Your Car
      </label>
      <label class="btn btn-default btn-lg">
        <input type="radio" name="step" id="step2" autocomplete="off"> Car Features
      </label>
      <label class="btn btn-default btn-lg">
        <input type="radio" name="step" id="step3" autocomplete="off"> Car Details
      </label>
      <label class="btn btn-default btn-lg">
        <input type="radio" name="step" id="step4" autocomplete="off"> Driver Details
      </label>
    </div>
  </div>
  <br>

  <div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    <span class="sr-only">Info:</span>
    <span>By getting a quote you agree that the right <a>PDS</a> is being made available to you by this website, agree with our <a>Online Terms & Privacy Statement</a> and that you have read and understood your <a>Duty of Disclosure</a>.
      Its important that you answer all our questions accurately.</span>
  </div>

  <form name="findCarForm" class="form-horizontal" role="form" novalidate ng-submit="submit(findCarForm)" accessible-form>

    <div id="product-type-section">
      <div><span class="h4">Select your type of car insurance</span><span id="popover-product-type" class="glyphicon glyphicon-question-sign" data-toggle="popover" title="Type of insurance" data-content="<p><strong>Comprehensive Insurance</strong> covers you for damage to your own car as well as for damage your car may cause to the property of others. Please check the <a>PDS</a> for full details.</p><p><strong>Third Party Property Damage Insurance</strong> covers you for damage your car may cause to another person’s property. Please check the <a>PDS</a> for full details.</p><p>Your AAMI Third Party Property Damage Insurance policy can be extended to include Fire and Theft cover for your car. This provides up to $10,000 cover for fire or theft damage. You can customise your quote later and add this benefit. For full details of this benefit, please see the <a>PDS</a>.</p>"
        style="margin-left: 8px" popover></span>
      </div>
      <div class="form-group has-feedback" ng-class="{ 'has-error' : findCarForm.productType.$invalid && findCarForm.productType.$dirty }">
        <div class="radio col-sm-4">
          <label>
            <input id="productType1" name="productType" type="radio" value="COMPREHENSIVE" ng-model="productType" required>Comprehensive
          </label>
        </div>
        <div class="radio col-sm-4">
          <label>
            <input id="productType12" name="productType" type="radio" value="THIRD_PARTY" ng-model="productType" required>Third Party Property Damage
          </label>
        </div>
      </div>
      <div id="product-type-error" class="alert alert-danger" ng-show="findCarForm.productType.$invalid && findCarForm.productType.$dirty">Please select one insurance type above.</div>
    </div>
    <hr>

    <div id="policy-start-date-section">
      <h4><span>Policy start date</span></h4>
      <p>
        To give you the most accurate price tell us the date you want your cover to start. Your policy start date must be before 6th August 2015.
      </p>

      <div class="form-group has-feedback" ng-class="{ 'has-error' : findCarForm.policyStartDate.$invalid && findCarForm.policyStartDate.$dirty }">
        <div class="col-sm-3">
          <input id="policyStartDatePicker" name="policyStartDate" type="text" value="" class="form-control" placeholder="DD/MM/YYYY" ui-date="dateOptions" ng-model="policyStartDate" required>
          <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
        </div>
      </div>
      <div id="policy-start-date-error" class="alert alert-danger" ng-show="findCarForm.policyStartDate.$invalid && findCarForm.policyStartDate.$dirty">Please select a policy start date from the calendar.</div>
    </div>
    <hr>

    <div id="find-car-section">
      <h3><span class="glyphicon glyphicon-search" aria-hidden="true" style="margin-right: 8px"></span><span>Find your car using the search below</span></h3>

      <div class="form-group" ng-class="{ 'has-error' : findCarForm.vehicleYearOfManufacture.$invalid && findCarForm.vehicleYearOfManufacture.$touched }">
        <label class="col-sm-4 control-label" for="vehicleYearOfManufacture">Year of manufacture</label>
        <div class="col-sm-6">
          <select name="vehicleYearOfManufacture" class="form-control" ng-model="vehicleYearOfManufacture" ng-options="year.value as year.label for year in manufactureYears" required>
            <option value="">Select</option>
          </select>
        </div>
        <div class="col-sm-2"><span id="popover-manufacture-year" class="glyphicon glyphicon-question-sign" data-toggle="popover" title="Year of manufacture" data-content="<p>The year your car was manufactured, usually found on the car registration label or registration papers.</p><p>If your car was manufactured before 1976 please call us on <a class='text-danger'>13 22 44</a>.</p>"
          popover></span>
        </div>
      </div>
      <div id="manufacture-year-error" class="alert alert-danger text-center" ng-show="findCarForm.vehicleYearOfManufacture.$invalid && findCarForm.vehicleYearOfManufacture.$touched">Please select the year of manufacture.</div>

      <div class="form-group" ng-class="{ 'has-error' : findCarForm.vehicleMake.$invalid && findCarForm.vehicleMake.$touched }">
        <label class="col-sm-4 control-label" for="vehicleMake">Car make</label>
        <div class="col-sm-6">
          <select name="vehicleMake" class="form-control" ng-model="vehicleMake" ng-disabled="!vehicleYearOfManufacture" required>
            <option value="">Select</option>
            <optgroup label="Common Makes">
              <option ng-repeat="manufacturer in manufacturers | filter: {isCommon: true}" value="{{manufacturer.name | uppercase}}">{{manufacturer.name}}</option>
            </optgroup>
            <optgroup label="All Makes">
              <option ng-repeat="manufacturer in manufacturers" value="{{manufacturer.name | uppercase}}">{{manufacturer.name}}</option>
            </optgroup>
          </select>
        </div>
        <div class="col-sm-2"><span id="popover-car-make" class="glyphicon glyphicon-question-sign" data-toggle="popover" title="Car make" data-content="<p>The manufacturer of your car, e.g. Ford, Holden, Toyota.</p><p>Please call us on <a class='text-danger'>13 22 44</a> if your car make is not listed.</p>"
          popover></span>
        </div>
      </div>
      <div id="car-make-error" class="alert alert-danger text-center" ng-show="findCarForm.vehicleMake.$invalid && findCarForm.vehicleMake.$touched">Please select the car make.</div>

      <div class="form-group" ng-class="{ 'has-error' : findCarForm.vehicleModel.$invalid && findCarForm.vehicleModel.$touched }">
        <label class="col-sm-4 control-label" for="vehicleModel">Car model</label>
        <div class="col-sm-6">
          <select name="vehicleModel" class="form-control" ng-model="vehicleModel" ng-options="carModel.name for carModel in carModels | filter: {year: vehicleYearOfManufacture, manufacturer: vehicleMake}" ng-disabled="!vehicleMake" required>
            <option value="">Select</option>
          </select>
        </div>
        <div class="col-sm-2"><span id="popover-car-model" class="glyphicon glyphicon-question-sign" data-toggle="popover" title="Car model" data-content="<p>The name given to a particular range of car within a make (e.g. Holden <strong>Commodore</strong>, Toyota <strong>Corolla</strong>).</p><p>So we can quote the correct premium, it is important that you properly identify your car model. If you are in any doubt please call us on <a class='text-danger'>13 22 44</a>.</p>"
          popover></span>
        </div>
      </div>
      <div id="car-model-error" class="alert alert-danger text-center" ng-show="findCarForm.vehicleModel.$invalid && findCarForm.vehicleModel.$touched">Please select the car model.</div>

      <div class="form-group" ng-class="{ 'has-error' : findCarForm.vehicleTransmissionType.$invalid && findCarForm.vehicleTransmissionType.$touched }">
        <label class="col-sm-4 control-label" for="vehicleTransmissionType">Transmission type</label>
        <div class="col-sm-6">
          <select name="vehicleTransmissionType" class="form-control" ng-model="vehicleTransmissionType" ng-options="transmissionType for transmissionType in vehicleModel.transmissionTypes" ng-disabled="!vehicleModel" required>
            <option value="">Select</option>
          </select>
        </div>
        <div class="col-sm-2"><span id="popover-transmission-type" class="glyphicon glyphicon-question-sign" data-toggle="popover" title="Transmission type" data-content="If you aren't sure or have a tiptronic then choose auto." popover></span>
        </div>
      </div>
      <div id="transmission-type-error" class="alert alert-danger text-center" ng-show="findCarForm.vehicleTransmissionType.$invalid && findCarForm.vehicleTransmissionType.$touched">Please select the transmission type.</div>

      <div class="form-group">
        <label class="col-sm-4 control-label" for="vehicleNumberOfCylinders">Number of cylinders</label>
        <div class="col-sm-6">
          <select name="vehicleNumberOfCylinders" class="form-control" ng-model="vehicleNumberOfCylinders" ng-options="cylinderType for cylinderType in vehicleModel.cylinderTypes[vehicleTransmissionType]" ng-disabled="!vehicleTransmissionType">
            <option value="">Select</option>
          </select>
        </div>
        <div class="col-sm-2"><span id="popover-cylinder-type" class="glyphicon glyphicon-question-sign" data-toggle="popover" title="Number of cylinders" data-content="<p>The number of cylinders in your car's engine.</p><p>This information is not essential, but it assists in identifying your specific car.</p>"
          popover></span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label" for="vehicleBodyType">Body type</label>
        <div class="col-sm-6">
          <select name="vehicleBodyType" class="form-control" ng-model="vehicleBodyType" ng-options="bodyType for bodyType in vehicleModel.bodyTypes[vehicleTransmissionType]" ng-disabled="!vehicleTransmissionType">
            <option value="">Select</option>
          </select>
        </div>
        <div class="col-sm-2"><span id="popover-body-type" class="glyphicon glyphicon-question-sign" data-toggle="popover" title="Body type" data-content="<p>'Body type' refers to the shape/body of your car. For example, sedan, wagon or coupe.</p><p>This information is not essential, but it assists in identifying your specific car.</p>"
          popover></span>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button id="btn-find-car" type="submit" class="btn btn-danger btn-lg">Find your car</button>
    </div>

  </form>

  <br>
  <br>

</div>
